[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==3.2.13"
graphene-django = "*"
django-graphql-jwt = "*"
pyjwt = "*"
pyyaml = "*"
psycopg2-binary = "*"
django-extensions = "*"
django-simple-history = "*"
django-import-export = "*"
werkzeug = "==2.0.3"
"backports.weakref" = "*"
"backports.zoneinfo" = "*"
django-silk = "*"
django-filter = "*"
djangorestframework = "*"
flake8 = "*"
pylint = "*"
factory-boy = "*"
faker = "*"

[requires]
python_version = "3.8"
